{% load static %}
<div class="row answer">
    <div class="col-3">
								<img src="{% static 'img/200.jpg'%}">

								<button type="button" class="btn btn-outline-info">5</button>
								<div class="btn-group" role="group" aria-label="Basic example">
									<input class="btn btn-primary" type="button" value="Like">
									<input class="btn btn-primary" type="button" value="Dislike">
								</div>

							</div>
							<div class="col-9 answ">
								<a href="#"><h2>Answer num {{answer.id}}</h2></a>
								<div>
									{{answer.text}}
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck1">
									<label class="form-check-label" for="gridCheck1">
										<h5>Correct!</h5>
									</label>
								</div>
								</div>
							</div>