{% load static %}
<div class="row question">
    <div class="col-9">
        <div class="question-title"><h2>{{ article.title }}</h2></div>
        <div class="question-title" style = "color:grey"><h2>Автор: {{ article.author.name}}</h2></div>
        <div>
            {{article.text }}
        </div>
    </div>
</div>
