<form novalidate class="form_2" action = "/ask/" method="post">
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="questionTitle">Title</label>
									</div>
									<div class="col-6">
										<input type="title" class="form-control" id="questionTitle" placeholder="How to build a moon">

									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="inputText">Text</label>
									</div>
									<div class="col-6">
										<div class="form-group">
                                        <textarea class="form-control" id="Textarea1" rows="7"
                                        placeholder="Reall, how? I don't know it"></textarea> </div>
                                      	</div>

								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="inputTags">Tags</label>
									</div>
									<div class="col-6">
										<input type="tags" class="form-control" id="inputTags" placeholder="Moon Park Build">
										<button type="submit" class="btn btn-primary user">Ask</button>
									</div>
								</div>
							</div>

						</form>