{% load static %}
<form>
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="Login">Login</label>
									</div>
									<div class="col-6">
										<input type="title" class="form-control" id="Login" placeholder="yuriyL">

									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="Nickname">Nickname</label>
									</div>
									<div class="col-6">
										<input type="title" class="form-control" id="Nickname" placeholder="yuriy">

									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="inputEmail">Email</label>
									</div>
									<div class="col-6">
										<input type="text" class="form-control" id="inputEmail" placeholder="yura@ya.ru">

									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-3">
										<label for="upLoad">Upload Avatar</label>
									</div>
									<div class="col-6">
										<img src="{% static 'img/210.jpg'%}">
										<div class="custom-file mb-3">
											<input type="file" class="custom-file-input" id="validatedCustomFile" required>
											<label class="custom-file-label" for="validatedCustomFile">C:/avatar.jpg</label>
											<div class="invalid-feedback">File doesn't exist </div>
										</div>

									</div>

								</div>
							</div>
							<button type="submit" class="btn btn-primary user">Save</button>
						</form>