{% extends "include/base.html" %}

{% block theme %}
    <h2>Tag:<a href="#"> {{header}}</a></h2>
{% endblock theme %}

{% block navbar %}
{% include "include/navbar.html" %}
{% endblock navbar %}

{% block content %}
    {% for question in iterators %}
    {% include "include/question.html" %}
    {% endfor%}
{% endblock content %}

{% block paginator %}
    {% include "include/paginator.html" %}
{% endblock paginator %}


						
